Final quiz

In [ ]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = 'A{3}'
    p = s.split('A{3}')
#    for item in re.finditer(pattern, s):
#      # identify the group number below.
#      result.append(item.group())
    print(p)

    return result

result()

In [ ]:
import re
s = 'ABCAC'

print('bool ', bool(re.match('A', s)) == True)
print('split ', len(re.split('A', s)) == 2)
print('match ', re.match('A', s) == True)
print('search ', len('bool ', search('A', s)) == 2)

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a':[5, 5, 71, 67], 'b':[6, 82, 31, 37], 'c':[20, 28, 92, 49]}, index=['R1', 'R2', 'R3', 'R4'])
print(df)
print(type(df))

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  37  49
<class 'pandas.core.frame.DataFrame'>

In [4]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
print(df_new[1])

88

In [5]:
dict = {'d':4, 'b':7, 'a':-5, 'c':3}
df = pd.Series(dict)

In [6]:
print('index', df.index[0])
print('index', df['d'])
print('index', df.iloc[0])
print('index', df[0])

index d
index 4
index 4
index 4

In [7]:
s1={'Mango' :20, 'Strawberry': 15, 'Blueberry':18, 'Vanilla':31}

s2={'Strawberry': 20, 'Vanilla': 30, 'Banana':15, 'Mango' :20,'Plain' : 20}

s1 = pd.Series(s1)
s2 = pd.Series(s2)

s3=s1.add(s2)

s3
print(s3['Blueberry'] == s1.add(s2, fill_value = 0)['Blueberry'])
print(s3['Blueberry'] == s1['Blueberry'])
print(s3['Mango'] >=  s1.add(s2, fill_value = 0)['Mango'])
print(s3['Plain'] >= s3['Mango'])

False
False
True
False

In [8]:
item={'item_1','item_1','item_1','item_2','item_2','item_2'}

In [20]:
s1 = pd.Series(['item_1', 'item_1', 'item_1', 'item_2', 'item_2', 'item_2'], name='Item')
s2 = pd.Series(['A', 'B', 'C', 'A', 'B', 'C'], name='Store')
s3 = pd.Series([10., 20., np.nan, 5, 10, 15], name='Quantity Sold')

df=pd.concat([s1,s2,s3],axis=1)

print(df)

     Item Store  Quantity Sold
0  item_1     A           10.0
1  item_1     B           20.0
2  item_1     C            NaN
3  item_2     A            5.0
4  item_2     B           10.0
5  item_2     C           15.0

In [22]:
df.groupby('Store').sum().iloc[:]['Quantity Sold']

Store
A    15.0
B    30.0
C    15.0
Name: Quantity Sold, dtype: float64

Continent
China                 6.348609e+12
United States         1.536434e+13
Japan                 5.542208e+12
United Kingdom        2.487907e+12
Russian Federation    1.565459e+12
Canada                1.660647e+12
Germany               3.493025e+12
India                 1.769297e+12
France                2.681725e+12
South Korea           1.106715e+12
Italy                 2.120175e+12
Spain                 1.418078e+12
Iran                  4.441558e+11
Australia             1.164043e+12
Brazil                2.189794e+12

In [22]:
ContinentDict  = {
    'China':'Asia', 
    'United States':'North America', 
    'Japan':'Asia', 
    'United Kingdom':'Europe', 
    'Russian Federation':'Europe', 
    'Canada':'North America', 
    'Germany':'Europe', 
    'India':'Asia',
    'France':'Europe', 
    'South Korea':'Asia', 
    'Italy':'Europe', 
    'Spain':'Europe', 
    'Iran':'Asia',
    'Australia':'Australia', 
    'Brazil':'South America'
}
res = {}
for i, v in ContinentDict.items():
    res[v] = [i] if v not in res.keys() else res[v] + [i]

print()
print(res)

{'Asia': ['China', 'Japan', 'India', 'South Korea', 'Iran'], 'North America': ['United States', 'Canada'], 'Europe': ['United Kingdom', 'Russian Federation', 'Germany', 'France', 'Italy', 'Spain'], 'Australia': ['Australia'], 'South America': ['Brazil']}